section {
    margin-top: 3rem;
}

main ul li {
    list-style: "▷  ";
}

section ul li a {
    text-decoration: none;
    color: black;
}

section ul li a:hover {
    text-decoration: underline;
}

section h2 {
    margin-bottom: 2.5rem;
}

section img {
    width: 60%;
    height: 13rem;
    margin-bottom: 2rem;
}

section p {
    margin-bottom: 2rem;
}

article li {
    margin: 1rem 0;
}