.name-background-color {
    background-color: aqua;
}

.list-background-color {
    background-color: chocolate;
}

#hobby-color {
    color: blue;
}

#like-color {
    color: red
}

img {
    width: 50%;
    height: 30%;
}